@inherits Custom.Hybrid.RazorTyped
@* FYI: this inherits from RazorTyped to use the latest APIs. Learn more on https://go.2sxc.org/cs-typed *@

<div @Kit.Toolbar.Default(MyItem)>

  <h1>App Extension: Field String Color Spectrum</h1>

  <div class="alert alert-secondary">
    This is where you can develop the String Color Spectrum.
  </div>

</div>